# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @philips-software/backstage-plugin-maintainers
yarn.lock                                           @philips-software/backstage-plugin-maintainers
*/yarn.lock                                         @philips-software/backstage-plugin-maintainers

/workspaces/upptime                                 @philips-software/backstage-plugin-maintainers @scottguymer
/workspaces/confluence                              @philips-software/backstage-plugin-maintainers @Prateek-Wayne
/workspaces/github-marketplace                      @philips-software/backstage-plugin-maintainers @scottguymer
