name: Automate Dependabot changeset
on:
  pull_request_target:
    paths:
      - ".github/workflows/automate_dependabot_changeset.yml"
      - "**/yarn.lock"

jobs:
  generate-changeset:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]' && github.repository == 'philips-software/philips-backstage-plugins'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.BACKSTAGE_BOT_APPLICATION_ID }}
          private-key: ${{ secrets.BACKSTAGE_BOT_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Configure Git
        run: |
          git config --global user.email noreply@philips.com
          git config --global user.name 'Github changeset workflow'

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          package-manager-cache: false
 
      - name: Fetch previous commit for check
        run: git fetch origin '${{ github.event.pull_request.base.sha }}'

      - name: Find changed workspaces
        id: find-changed-workspaces
        run: node ./scripts/ci/list-workspaces-with-changes.js
        env:
          COMMIT_SHA_BEFORE: "${{ github.event.pull_request.base.sha }}"

      - name: Generate feedback
        uses: philips-software/backstage-actions/renovate-changesets@main
        with:
          multiple-workspaces: true
          dependency-manager: dependabot

      - name: Remove lockfile duplicates
        run: node ./scripts/ci/yarn-dedupe-workspace.js '${{ steps.find-changed-workspaces.outputs.workspaces }}'

      - name: Commit Lockfile Changes
        run: |
          # Check for changes
          if ! git diff-index --quiet HEAD --; then
            git commit -am "Automated de-duplication of lockfile"
            git push
          else
              echo "No changes to commit."
          fi
