name: PR
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  issue_comment:
    types:
      - created

jobs:
  sync:
    runs-on: ubuntu-latest

    # Avoid running on issue comments
    if: github.repository == 'philips-software/philips-backstage-plugins' && ( github.event.pull_request || github.event.issue.pull_request )
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: PR sync
        uses: backstage/actions/pr-sync@v0.6.17
        with:
          github-token: ${{ secrets.GITHUB_TOKEN  }}
          app-id: ${{ secrets.BACKSTAGE_BOT_APPLICATION_ID }}
          private-key: ${{ secrets.BACKSTAGE_BOT_PRIVATE_KEY }}
          installation-id: ${{ secrets.BACKSTAGE_BOT_INSTALLATION_ID }}
          auto-assign: false
