name: Release all workspaces

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  find-changed-workspaces:
    name: Detect workspace changes
    runs-on: ubuntu-latest
    outputs:
      workspaces: ${{ steps.find-changed-workspaces.outputs.workspaces }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5c7944e73c4c2a096b17a9cb74d65b6c2bbafbde # v2.9.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Set up Node
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/ # Needed for auth

      - name: Fetch previous commit for check
        run: git fetch origin '${{ github.event.before }}'

      - name: Find changed workspaces
        id: find-changed-workspaces
        run: node ./scripts/ci/list-workspaces-with-changes.js
        env:
          COMMIT_SHA_BEFORE: "${{ github.event.before }}"

  maybe-release-workspace:
    name: Maybe release ${{ matrix.workspace }}
    needs: find-changed-workspaces
    if: ${{ needs.find-changed-workspaces.outputs.workspaces != '[]' }}
    strategy:
      fail-fast: false
      matrix:
        workspace: ${{ fromJSON(needs.find-changed-workspaces.outputs.workspaces) }}
    uses: ./.github/workflows/release_workspace.yml
    with:
      workspace: ${{ matrix.workspace }}
    secrets: inherit
