name: Release workspace

on:
  workflow_dispatch:
    inputs:
      workspace:
        description: "Name of the Workspace"
        required: true
        type: string
      force_release:
        description: "Force release even if no changesets are present"
        required: false
        type: boolean
  workflow_call:
    inputs:
      force_release:
        description: "Force release even if no changesets are present"
        required: false
        type: boolean
      workspace:
        description: "Name of the Workspace"
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.workspace }}

jobs:
  changesets-pr:
    name: Update Version Packages PR for ${{ inputs.workspace }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./workspaces/${{ inputs.workspace }}
    env:
      CI: true
      NODE_OPTIONS: --max-old-space-size=4096
    outputs:
      needs_release: ${{ steps.release_check.outputs.needs_release }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: Set up Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/ # Needed for auth

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('workspaces/${0}/**/yarn.lock', inputs.workspace)) }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: yarn install
        run: yarn install --immutable

      - name: Fetch previous commit for release check
        run: git fetch origin '${{ github.event.before }}'

      - name: Check if release
        id: release_check
        if: inputs.force_release != true
        run: node ../../scripts/ci/check-if-release.js
        env:
          WORKSPACE_NAME: ${{ inputs.workspace }}
          COMMIT_SHA_BEFORE: "${{ github.event.before }}"

      - name: Update Version Packages (${{ inputs.workspace }}) PR
        id: changesets-pr
        if: steps.release_check.outputs.needs_release != 'true' || inputs.force_release != true
        uses: backstage/changesets-action@a39baf18913e669734ffb00c2fd9900472cfa240 # v2.3.2
        with:
          title: Version Packages (${{ inputs.workspace }})
          cwd: workspaces/${{ inputs.workspace }}
          version: yarn changeset version
          versionBranch: changesets-release/${{ inputs.workspace }}
          skipRootChangelogUpdate: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release workspace ${{ inputs.workspace }}
    runs-on: ubuntu-latest
    needs: changesets-pr
    if: needs.changesets-pr.outputs.needs_release == 'true' || inputs.force_release == true
    defaults:
      run:
        working-directory: ./workspaces/${{ inputs.workspace }}
    env:
      CI: true
      NODE_OPTIONS: --max-old-space-size=4096

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: Set up Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/ # Needed for auth

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles(format('workspaces/${0}/**/yarn.lock', inputs.workspace)) }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: yarn install
        run: yarn install --immutable

      - name: Compile TypeScript
        run: yarn tsc:full

      - name: Build all packages
        run: yarn build:all

      - name: publish
        run: |
          yarn config set -H 'npmAuthToken' "${{secrets.NPM_TOKEN}}"
          yarn workspaces foreach --all -v --no-private npm publish --access public --tolerate-republish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
